:root {
  --white: #fff;
  --neutral-100: #f5f5f5;
  --neutral-300: #d4d4d4;
  --indigo-50: #eef2ff;
}

select {
  background: none;
  border: 0;
  padding: 0;
  outline: none;

  &,
  &::picker(select) {
    appearance: base-select;
  }

  &::picker(select) {
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.4s allow-discrete;
  }

  &::picker(select):popover-open {
    opacity: 1;
    transform: translateY(0);
  }

  @starting-style {
    &::picker(select):popover-open {
      opacity: 0;
      transform: translateY(0.75rem);
    }
  }

  selectedcontent > * {
    @starting-style {
      opacity: 0;
      transform: translateY(0.625rem);
    }
    opacity: 1;
  }

  &::picker-icon {
    display: none;
  }

  > button {
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--neutral-300);
    color: var(--gray-700);
    display: inline-flex;
    gap: 0.5rem;
    justify-content: space-between;
    min-width: 100%;
    padding: 0.5rem;
    transition: border 0.4s ease;
  }

  &:open > button,
  > button:focus {
    border-color: var(--gold);
  }

  &::picker(select) {
    border-radius: 0.5rem;
    border: 1px solid var(--neutral-300);
    margin-top: 0.375rem;
    overflow: hidden;
  }

  option {
    color: var(--gray-600);
    outline: none;
    padding: 0.5rem;
    text-align: left;

    &:not(:last-child) {
      border-bottom: 1px solid var(--neutral-300);
    }

    &:hover {
      background: var(--indigo-50);
      color: var(--gold);
    }

    &:is(:checked) {
      background-color: var(--gold);
      color: var(--white);
    }

    &::checkmark {
      position: absolute;
      right: 1rem;
    }
  }
}

.custom-option {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.no-support {
  align-content: center;
  background-color: #000d;
  color: var(--white);
  display: grid;
  gap: 1em;
  inset: 0;
  place-items: center;
  position: fixed;
  z-index: 10;
  text-align: center;
  padding: 1rem;

  @supports (appearance: base-select) {
    display: none;
  }
}
